# Virtual Environment
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Database
*.db
chroma_db/
sql_app.db

# IDE
.vscode/
.idea/

# Logs
*.log

# System Files
.DS_Store
Thumbs.db

# Backup files
backup/ 

#Task
task.txt